<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/responsive.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/syntax.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700|Open+Sans" rel="stylesheet">
		<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
</head>
