<header class="header-page">
  <nav class="nav">
    <ul>
      <li class="brand"><a href="/">WADE.</a></li>
      <li class="info"><a href="#">Twitter</a></li>
      <li class="info"><a href="#">Github</a></li>
      <li class="info"><a href="#">About</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="title-container">
      <h1 class="title">{{ page.title }}</h1>
      <p class="subtitle">{{ page.date | date: "%b %-d, %Y" }}</p>
    </div>
  </div>
</header>
